@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_FrontHeader.cshtml";
}
@model IEnumerable<Online_Auction.Models.Products>;
<section class="section pt-5" id="products">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Search Result for : @ViewBag.q</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var list in Model)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item">
                        <a asp-action="SingleProduct" asp-controller="Home" asp-route-id="@list.ProductId">
                        <div class="thumb">
                            <img src="~/images/@Html.DisplayFor(x=>list.ProductImage)" alt="" class="allproductImage">
                        </div>
                        </a>
                        <div class="down-content d-flex justify-content-between">
                            <h4>@Html.DisplayFor(x => list.ProductTitle)</h4>
                            <span>@Html.DisplayFor(x => list.MinBidPrice)</span>
                        </div>
                        <div class="description">
                            @Html.DisplayFor(x => list.ProductDescription)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>